html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    font-family:"Lato";
    background-color: #eee;
    word-break: break-word;
}

.header__importantHeader {
    font-weight: bolder;
    margin: 50px 10px 20px 10px;
}
